@media screen and (min-width:640px) {
    .container {
        margin: auto;
    

    }
}
h1 {
    font-size: 34px;
    color:#189AB4
}



.container {
    background-color: #E9EAEC;
    border-width: thin;
    border-style: solid;
    border-color: #A6A9AA;
}

.navcontainer {
    background-color:#189AB4;
    color: white;
    border-width: thin;
    border-style: solid;
    border-color: #A6A9AA;
}
    
.navbar {
    background-color: white;
}


.body {
background-color:#68D1E1;
text-align: center;


}


.card-title {
    text-align: center;
    text-decoration: underline overline;
    text-decoration-color: grey;

}

.card-header {
    background-color:#189AB4;
    text-align: center;
}
.card-body {
    background-color: white;
    color: black; 
    text-align: center;
  
}

.card-footer {
    background-color:#189AB4;

}


footer {
   
    border-width: thin;
    border-style: solid;
    border-color: #A6A9AA;
   
}
.navbar{
    display: flex;
    justify-content: center;

 }

